@model Model.Genre

@{
    ViewBag.Title = "Search";
}

<h2>Search Result</h2>

<hr />
<br />

@Html.ActionLink( Model.Name, "Details", new { id = Model.Id })

<hr />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<p>Please note: the search function returns one genre document. Even if more genres match the query. This could be fixes by returning a list of genres and iterating. </p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
